@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.purple {
    color:#6415ff;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
  
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.logo {
    width: 100%;
    max-width: 50px;
    margin-right: 18px;
}


.logo__wrapper {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    margin-left: 46px;
}

.nav__row {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #243E63;
}

nav {
    display: flex;
    margin: 40px 100px 112px 0px;    
}

header {
    height: 100vh;
}

.nav__link--styled {
    margin: 20px;
}

.nav__link {
    padding-left: 56px;
}

.nav__link--special {
    border: solid;
    padding-left: 0;
    border-color: transparent;
    color: rgb(247 250 252);
    background-color: #6415ff;
    padding: 12px 38px;
    border-radius: 9999px;
}




/* 

Nav

*/

.header__container {
    margin: 0px 100px 100px 100px;
    display: flex;
}


.header__description {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 80%;
    margin: 50px;
}

h1 {
    font-size: 60px;
    padding: 0px 20px 16px 0px;
    letter-spacing: 1px;
}

h2 {
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0px;
    color: #243E63;
    margin-bottom: 25px;
    line-height: 33px;
    width: 110%;
}

.header__img {
    width: 55%;
}


.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.form__container {
width: 100%;
max-width: 200%;
position: relative;
padding-bottom: 20px;
}


input {
    border: solid 2px;
    border-color: rgb(226, 232, 240);
    padding: 32px;
    border-radius: 9999px;
    width: 88%;
}

input::placeholder {
    color: rgb(206, 214, 225);;
    font-size: 21px;
    font-weight: 500;
    padding-left: 8px;
}

.header__button {
    border-radius: 9999px;
    border-color: transparent;
    background-color: #6415ff;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 40px;
    position: absolute;
    top: 9px;
    right: 92px;
    transition: all 300ms ease;
}

button:hover {
    background-color: #3e06ae;
}

.trusted__container {
    margin: 75px 50px 50px 50px;
}

p {
    font-weight: 700;
    font-size: 15px;
    color: #A0AEC0;
    letter-spacing: 1px;
}

.trusted__container img {
    width: 100%;
    max-width: 500px;
    padding-top: 20px;
    opacity: .5;
}

/* 

HEADER

*/

.features__container {
    padding: 80px;
}

h5 {
    font-size: 20px;
    letter-spacing: 3px;
    letter-spacing: .25rem;
    padding-bottom: 25px;
}

.features__box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.features__heading {
    font-size: 60px;
    font-weight: 900;
}

.features__subheading {
    font-size: 22px;
    width: 60%;
    font-weight: 600;
    color: #7c8bA1;
}

.img__container {
    display: flex;
    width: calc(100%/3);
    padding: 30px;
}

.service__imgs {
    border: solid 1px;
    border-radius: 9999px;
    padding: 25px;
    color: #A0AEC0;
}

.services {
    margin-left: 20px;
}

.features__bigbox {
    display: flex;
    flex-wrap: wrap;
}

.img__name {
    font-size: 30px;
    font-weight: 700;
}

.img__description {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #7c8bA1;
    font-weight: 600;
}

/* 

QUALITY

*/

.quality__container {
    padding: 150px;
    display: flex;
}

.quality__header {
    font-size: 60px;
    font-weight: 900;
    line-height: 75px;
}

.quality__para {
    font-size: 22px;
    width: 115%;
    color: #7c8bA1;
    font-weight: 500;
}

.quality__description {
    line-height: 38px;
    width: 80%;
}



.qualit__img--wrapper {
    width: 100%;
}

.quality__img {
    border: solid 1px;
    border-width: 1px;
    border-color: #A0AEC0;
    width: 50%;
}

.quality__button {
    border-radius: 9999px;
    border-color: transparent;
    background-color: #6415ff;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 36px;
    transition: all 300ms ease;
    margin: 38px 0px;
    position: relative;
}


/*

STEPS

*/

.steps__container {
    display: flex;
    align-items: center;
    padding: 160px 80px;
    width: 100%;
}

.img__row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.steps__list {
    display: flex;
    padding: 20px 0px 20px;
    width: 60%;
}

.first {
    color: #CBD5E0;
    font-size: 50px;
    font-weight: 600;
    padding-right: 20px;
}

.register {
    font-size: 25px;
    font-weight: 600;
}

.steps__para {
    color: #718096;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    line-height: 36px;
}

.steps__subheader {
    font-size: 60px;
    font-weight: 900;
}

.steps__list--wrapper {
    display: flex;
    flex-direction: column;
}

.steps__description--wrapper {
    padding-left: 80px;
}


.img__move img {
    width: 100%;
}
